{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-gray-100">
<head>
  <meta charset="UTF-8">
  <title>Jobify | Change Password</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="flex flex-col min-h-screen font-sans antialiased">
    <header class="fixed z-100 w-full h-24 bg-white">
        <div
            class="container flex items-center justify-center h-full max-w-6xl px-8 mx-auto sm:justify-between xl:px-0 w-full">
      
            <a href="{% url 'home' %}" class="relative flex items-center h-full font-black leading-none">        
                <span class="text-4xl text-gray-800">Jobify</span>
            </a>
      
      
        </div>
      </header>
      <!-- Main Container -->
<main class="flex-grow bg-gray-100 flex flex-col items-center justify-center w-full dark:bg-gray-900 mt-12">
    <div class="w-full max-w-md px-8 py-10 bg-white rounded-lg shadow-md dark:bg-gray-950 dark:text-gray-200">
        {% if messages %}
            {% for message in messages %}
                {% if 'change_password_tags' in message %}
                    {% if message.tags == "success" %}
                        <div class="bg-green-100 text-green-800 p-4 rounded-lg text-center mb-4">
                            <h3 class="text-xl font-semibold">{{ success }}</h3>
                        </div>
                    {% elif message.tags ==  "error" %}
                        <div class="bg-red-100 text-red-800 p-4 rounded-lg text-center mb-4">
                            <h3 class="text-xl font-semibold">{{ error }}</h3>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div id="send-temp-password-step">
          <h1 class="text-2xl font-semibold text-center mb-6">Forgot Your Password?</h1>
    
          <form method="post">
            {% csrf_token %}
            <div class="mb-4">
              <label for="old_password" class="block text-sm font-medium text-gray-700">Old Password</label>
              <input type="password" name="old_password" id="old_password" required class="w-full mt-1 p-2 border rounded">
            </div>
      
            <div class="mb-4">
              <label for="new_password" class="block text-sm font-medium text-gray-700">New Password</label>
              <input type="password" name="new_password" id="new_password" required class="w-full mt-1 p-2 border rounded">
            </div>
      
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">Change Password</button>
          </form>
        </div>
        
        
  
    </div>
  </main>

  <!-- Footer -->
<footer class="text-center text-gray-500 border-t  py-4">
    © 2025 Jobify. All rights reserved.
  </footer>
</body>
</html>
